<script>
import { mapState, mapActions } from "vuex";
import copyToClipboard from "copy-text-to-clipboard";
import VPage from "@/components/VPage";
import formFactory from "@/factories/formFactory";
import * as helpers from "@/helpers";
import * as directives from "@/directives";
import { setTimeout } from "timers";

export default {
  name: "FormBuilder",
  components: {
    VPage
  },
  directives: {
    debounce: directives.debounce
  },
  data() {
    return {
      exportUri: "#",
      exportFilename: false,
      errorMessage: "",
      importText: "",
      copyToClipboardText: "Copy form to clipboard"
    };
  },
  computed: {
    ...mapState(["pages"])
  },
  watch: {
    importText: function() {
      this.importJson();
    }
  },
  methods: {
    ...mapActions({
      createPage: "PAGE_CREATED"
    }),
    createSection(payload) {
      this.$store.dispatch("SECTION_CREATED", payload);
    },
    createQuestion(payload) {
      this.$store.dispatch("QUESTION_CREATED", payload);
    },
    edit(payload) {
      this.$store.dispatch("ITEM_EDITED", payload);
    },
    deleteItem(id) {
      this.$store.dispatch("ITEM_DELETED", id);
    },
    exportToFile() {
      this.exportUri = helpers.encodeFormFile(this.pages);
      this.exportFilename = "form.json";
    },
    copyForm() {
      const form = JSON.stringify(formFactory.make({ items: this.pages }));
      copyToClipboard(form);

      this.copyToClipboardText = "Copied!";

      setTimeout(this.restoreCopyToClipboardText, 1000);
    },
    restoreCopyToClipboardText() {
      this.copyToClipboardText = "Copy form to clipboard";
    },
    importJson() {
      if (this.importText === "") return;

      try {
        this.errorMessage = "";
        const form = helpers.decodeFormFile(JSON.parse(this.importText));
        this.$store.dispatch("FORM_IMPORTED", form.items);
      } catch (error) {
        this.errorMessage = "Invalid JSON format!";
      }
    },
    async processJson(event) {
      // TODO: untestable method for now, check https://stackoverflow.com/questions/48993134/how-to-test-input-file-with-jest-and-vue-test-utils for more informations
      const result = await helpers.readFile(event.target.files[0]);
      this.importText = result;
    }
  }
};
</script>

<template>
  <div class="form-builder p-6">
    <div v-show="errorMessage" class="error-alert" role="alert">
      <strong class="font-bold">Oops!</strong>
      <span class="block sm:inline"> {{ errorMessage }}</span>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg
          class="fill-current h-6 w-6 text-red-500"
          role="button"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          @click="errorMessage = ''"
        >
          <title>Close</title>
          <path
            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
          />
        </svg>
      </span>
    </div>

    <div class="import flex flex-col">
      <p class="block tracking-wide text-gray-700 text-xs font-bold mb-2">
        Import a file or paste the json in the input
      </p>
      <div class="shadow flex justify-between">
        <label for="import-json" class="btn">Choose a file</label>
        <input
          id="import-json"
          type="file"
          accept=".json"
          class="import-file hidden"
          @change="processJson"
        />
        <input
          v-model.lazy="importText"
          v-debounce="1000"
          type="text"
          class="import-field input flex-1"
        />
      </div>
    </div>

    <div class="actions flex flex-col sm:flex-row justify-between my-4">
      <div class="flex flex-col sm:flex-row sm:mr-4">
        <a
          :href="exportUri"
          :download="exportFilename"
          class="export btn"
          @click="exportToFile"
          >Export form</a
        >
        <button type="button" class="export-copy btn" @click="copyForm">
          {{ copyToClipboardText }}
        </button>
      </div>
      <button
        type="button"
        class="create-page btn btn--blue mt-4 sm:mt-0"
        @click="createPage"
      >
        Create page
      </button>
    </div>

    <div class="pages mt-4">
      <VPage
        v-for="page in pages"
        :key="page.uuid"
        class="pages__item"
        :title="page.title"
        :uuid="page.uuid"
        :items="page.items"
        @createSection="createSection"
        @createQuestion="createQuestion"
        @edit="edit"
        @delete="deleteItem"
      />
    </div>
  </div>
</template>

<style scoped>
.form-builder {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-areas:
    ". import ."
    ". actions ."
    ". pages .";
}

.import {
  grid-area: import;
}

.actions {
  grid-area: actions;
}

.pages {
  grid-area: pages;
}

.pages__item + .pages__item {
  @apply mt-8;
}
</style>
