<script>
import VSection from "@/components/VSection";
import VQuestion from "@/components/VQuestion";
import VPencilIcon from "@/components/VPencilIcon";
import VTrashIcon from "@/components/VTrashIcon";
import * as helpers from "@/helpers";
import * as directives from "@/directives";

export default {
  name: "VPage",
  components: {
    VSection,
    VQuestion,
    VPencilIcon,
    VTrashIcon
  },
  directives: {
    debounce: directives.debounce
  },
  props: {
    title: {
      type: String,
      required: true
    },
    uuid: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      formTitle: this.title
    };
  },
  computed: {
    inputFor() {
      return `page-title-${this.uuid}`;
    }
  },
  watch: {
    formTitle: function(title) {
      this.edit({ id: this.uuid, data: { title } });
    }
  },
  methods: {
    edit(event) {
      this.$emit("edit", event);
    },
    createSection(sectionId) {
      this.$emit("createSection", { pageId: this.uuid, sectionId });
    },
    createQuestion(sectionId) {
      this.$emit("createQuestion", { pageId: this.uuid, sectionId });
    },
    deleteItem(id) {
      this.$emit("delete", id);
    },
    classifyComponent: helpers.classifyComponent
  }
};
</script>

<template>
  <div class="shadow rounded border-gray-800 px-6 pb-4">
    <div class="flex items-center">
      <label :for="inputFor" class="p-2 cursor-pointer">
        <VPencilIcon />
      </label>
      <input
        :id="inputFor"
        v-model.lazy="formTitle"
        v-debounce="500"
        type="text"
        class="input flex-1"
      />

      <button
        type="button"
        class="delete py-2 px-4"
        @click="$emit('delete', uuid)"
      >
        <VTrashIcon />
      </button>
    </div>

    <div class="flex flex-col sm:flex-row justify-end pt-4 pb-2">
      <button
        type="button"
        class="create-section btn btn--sm"
        @click="$emit('createSection', { pageId: uuid })"
      >
        Create a new section
      </button>

      <button
        type="button"
        class="create-question btn btn--sm"
        @click="$emit('createQuestion', { pageId: uuid })"
      >
        Create a new question
      </button>
    </div>

    <Component
      :is="classifyComponent(item.type)"
      v-for="item in items"
      :key="item.uuid"
      :title="item.title"
      :uuid="item.uuid"
      :items="item.items"
      :response-type="item.responseType"
      @createSection="createSection"
      @createQuestion="createQuestion"
      @edit="edit"
      @delete="deleteItem"
    />
  </div>
</template>

<style scoped></style>
