<script>
import * as directives from "@/directives";
import VPencilIcon from "@/components/VPencilIcon";
import VTrashIcon from "@/components/VTrashIcon";

export default {
  name: "VQuestion",
  directives: {
    debounce: directives.debounce
  },
  components: {
    VPencilIcon,
    VTrashIcon
  },
  props: {
    title: {
      type: String,
      required: true
    },
    uuid: {
      type: String,
      required: true
    },
    responseType: {
      type: String,
      required: true,
      validator: type => ["text", "number"].includes(type)
    }
  },
  data() {
    return {
      formTitle: this.title,
      formType: this.responseType
    };
  },
  computed: {
    inputFor() {
      return `page-title-${this.uuid}`;
    }
  },
  watch: {
    formTitle: function(title) {
      this.edit({ id: this.uuid, data: { title } });
    },
    formType: function(responseType) {
      this.edit({ id: this.uuid, data: { responseType } });
    }
  },
  methods: {
    edit(event) {
      this.$emit("edit", event);
    }
  }
};
</script>

<template>
  <div class="question border-t border-gray-400 pl-4 py-4 ml-6">
    <label :for="inputFor" class="flex p-2 cursor-pointer">
      <VPencilIcon />
    </label>
    <input
      :id="inputFor"
      v-model.lazy="formTitle"
      v-debounce="500"
      type="text"
      class="input flex-1"
    />

    <select v-model="formType" class="select my-4 md:my-0">
      <option value="text">text</option>
      <option value="number">number</option>
    </select>

    <button
      type="button"
      class="delete py-2 px-4 md:ml-16"
      @click="$emit('delete', uuid)"
    >
      <VTrashIcon />
    </button>
  </div>
</template>

<style scoped>
.question {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .question {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-column-gap: 20px;
    justify-items: center;
  }
}
</style>
