@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
  @apply bg-gray-300 text-gray-800 text-center font-bold py-2 px-4 rounded cursor-pointer;
}

.btn:hover {
  @apply bg-gray-400;
}

.btn--sm {
  @apply text-xs;
}

.btn--blue {
  @apply bg-blue-500 text-white;
}

.btn--blue:hover {
  @apply bg-blue-700;
}

.label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.input {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight;
}

.input:focus {
  @apply outline-none bg-white border-gray-500;
}

.input--section {
  @apply bg-white border-0 text-lg font-semibold;
}

.input--section:focus {
  @apply shadow;
}

.select {
  @apply block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
}

.select:focus {
  @apply outline-none bg-white border-gray-500;
}

.error-alert {
  @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded w-64 absolute;
  top: 20px;
  right: 20px;
}
